
<div class="jumbotron">
  <h1 class="display-4">DoctorApp</h1>
  <p class="lead"><%= link_to "Appointmnet History", doctor_sessions_path %></p>
  <hr class="my-4">
  <p><%= link_to "Appointments", appointments_path %></p>
<%= link_to "patient records", users_path %>
</div>
