
<div id="content">
<div id="left">
      <p><% @users.each do |user| %></p>
      <%= link_to "#{user.name}", user_path(user), remote: true %>
      <% end %>
</div>
<div id="profile">
  <%= yield  %>
</div>
