

  <div class="col-sm-2"><ul class="nav">
          <h2>Patients</h2>
      <li class="nav-item"><% @users.each do |user| %>
        <%= link_to "#{user.name}", user_path(user), remote: true %>
        <% end %></li>
  </ul></div>
  <div class="col-sm-8"><div id="profile">


                      <%= yield  %>

  </div></div>
