

<div class="col-sm-2"><ul class="nav" style="background-color:white;">
  <h2>Patients</h2>

  <li class="nav-item"><% @users.each do |user| %>

    <%= link_to "#{user.name}", user_path(user), remote: true %>
    <% end %></li>
  </ul></div>
  <div class="col-sm-8"><div id="profile">
    <div class="titles">
      <h2>Patient Information</h2>
      <h2>Appointment History</h2>
      <%= yield  %>
    </div>

  </div>
</div>
