
<div class="jumbotron">
  <h1 class="display-4">My Virtual Appointment</h1>
  <p class="lead">Where you can see a doctor in flash</p>
  <hr class="my-4">
  <p>Join today to see what all the hype is about!</p>
  <p class="lead">

    <a id="show" class="btn btn-primary btn-lg">New User</a>
  </p>

  <div class="drew">
    <%= render "users/registrations/new" %>

  </div>


</div>
