/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "chosen";
@import "shadowbox";


body {
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.navbar {
  background-color: #191970;


}

.navbar-nav > li {
  list-style: none;
  color: black;
  padding-left: 5em;
  padding-top: 1em;
}


body {
     background-color: #FFF5EE;
     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 }

 .input {
   color:black;
 }
 .field{

   display: block;
   text-align: center;
   margin-right: 0.5em;
    color: white;
 }

 .actions{

   display: block;
   text-align: center;
   margin-right: 0.5em;
   color: #778899;
 }

 .jumbotron{
   background-color: transparent !important;
   display: block;
   text-align: center;
   margin-right: 0.5em;
   color: white;
 }

.titles {
  color:white;
}

.drew {
  display: none;
}

.drew1 {
  display: none;
}

.doc-login {
  display: none;
}
