<button>
  <%= link_to "End Visit", root_path %>
</button>
<div class="video-container">
  <iframe
  src="https://tokbox.com/embed/embed/ot-embed.js?embedId=ae301120-4da4-498c-b9dc-9f27b033db49&room=<%= @appointment.id %>&iframe=true"

  allow="microphone; camera"
  ></iframe><br />
</div>
